.header {
  color: var(--lighest);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 95vw;
}

.header h1 {
  font-size: 28px;
}

.header_cart {
  display: flex;  
}

.header_cart_img {
  width: 55px;
}

.header_cart_quant {
  margin-top: 8px;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  font-size: 14px;
  background-color: var(--dark-gray);
  border-radius: 50%;
  color: var(--main-color);
  padding: 0;
}